@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.icon path {
    fill: #f1f1f4;
}
.icon:hover path {
    fill: #9499c4;
}

@media (min-width: 450px) {
  .logo {
    display: block;
  }
}

/* * {
  border: 1px solid white;
} */